.registro-cuenta{ /* Propiedades para el rectangulo principal */
    width: 400px;
    padding: 30px 30px 5px 30px;
    margin: auto;
    border: 2px solid rgb(149,38,213);
    font-family: 'Orbitron', sans-serif;
}

.registro-cuenta h4{ /* Propiedades solo al H4 */
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.controles{ /* Propiedades a los INPUTS*/
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(149,38,213);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.registro-cuenta .Condicion{ /* Propiedades para las Condiciones */
    text-align: left;
    font-size: 14px;
    line-height: 40px;
    color: grey;
}

.registro-cuenta #Condicion_Check{ /* Propiedades para las Condiciones */
    display: inline;
    font-size: 14px;
    color: grey;
}

.registro-cuenta a{ /* Propiedades para el enlace */
    color: white;
    text-decoration: none;
}

.registro-cuenta a:hover{ /* Pseudoclase para el enlace */
    color:white;
    text-decoration: underline;
}

.registro-cuenta .botones{
    width:100%;
    background: rgb(149,38,213);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.registro-cuenta .botones:hover{
    background-color: rgb(197, 103, 251);
}